<?php 
$this->layout='arena';
$this->assign('title', 'fighter');
//pr($id);
?>



<!-- <div class="row">
    <h2 class="col-lg-8">Fiche de personnage.</h2>
</div>
<div class="row">
    <p class="col-lg-1">Nom: </p>
    <div class="col-lg-3"> !-->
        <div><table class="table table-bordered table-striped table-responsive"> 
            
        <tr>
            <th>Nom</th>
            <th>Level</th>
            <th>Expérience</th>
            <th>Points de Vue</th>
            <th>Points de Force</th>
            <th>Points de Santé</th>
            <th>Points de Vie</th>
        </tr>
      <?php       //for($x = 0; $x< sizeof($fiche); $x++){
        echo '<tr>';
            echo '<td>'; echo $fiche['nom']; echo '</td>';
            echo '<td>'; echo $fiche['level']; echo '</td>';
            echo '<td>'; echo $fiche['xp']; echo '</td>';
            echo '<td>'; echo $fiche['sight']; echo '</td>';
            echo '<td>'; echo $fiche['strength']; echo '</td>';
            echo '<td>'; echo $fiche['skill_health']; echo '</td>';
            echo '<td>'; echo $fiche['health']; echo '</td>';
        echo '</tr>'; 
        
      //}?> 

        </table>
        </div>
    <!--</div>
</div> !-->
  
<?php

echo $this->Form->create('levelupFighter');
echo '<legend>Changement de niveau</legend>';
echo '<div class="form-group">';
echo $this->Form->input('fighterId', array('options' => array('1' => $id),'default' => $id, 
    'class' => "form-control" ));
echo '</div>';
echo '<div class="form-group">';
echo $this->Form->input('choice', array('options' => array('sight'=>'Sight ability +1','strength'=>'Strength +1','health' => 'Current health +3'),
        'class' => "form-control"));
echo '</div>';
echo $this->Form->end('Level Up');


?>

 XP   
  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<?php echo $fiche['xp'] ?>" aria-valuemin="0" aria-valuemax="10" style="width:<?php echo $fiche['xp'] *10?>%">
</div>
  </div>
 
 HEALTH
  <div class="progress">
    <div class="progress-bar progress-bar-success" aria-valuenow="<?php echo $fiche['skill_health'] ?>" aria-valuemin="0" aria-valuemax="10" style="width:<?php echo $fiche['skill_health'] *10?>%">
</div>
  </div>
                  

                      
