<p>Bonjour,<p> 
<p>Afin de réinitialiser votre mot de passe veuillez suivre le lien suivant:</p>
<a href="http://localhost/WebArenaGoupSI4-11-DF/Arenas/recover?email=<?php echo $email?>&amp;password=<?php echo $password?>">Password recovery</a>
<?php 
//echo $this->Html->link('Password recovery', array(
//    'controller' => 'Arenas',
//    'action' => 'recover',
//    '?' => array('email' =>$email, 'password' => $password))
//);
?>
