<p>Bonjour,<p> 
<p>Nous vous remercions pour votre inscription. Votre nouveau compte a été mis en place et vous pouvez désormais vous connecter grâce aux coordonnées ci-dessous.</p> 
<p>Adresse e-mail:</p>
<a><?php echo h($mail); ?></a>
<p>Mot de passe:</p>
<p class='pwd'><?php echo $pwd; ?></p>
<p>
