/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2014, 14:23:17
    Author     : egarreau
*/




 .inline-form input,.inline-form .submit{
  display: inline-block;
  width: 100px;
}
.product .img-responsive {
    margin: 0 auto;
}